@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.header {
    width: 100%;
    background-color: #051D3D;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_logo {
    padding: 20px 20px;
    width: 40%;
}

.container_search {
    width: 500px;
    margin-left: 50px;
    border: 1px solid rgba(105, 129, 135, 0.5);
    border-radius: 24px;
    padding: 1em;
    background: rgba(105, 129, 135, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #f3f3f3;
}

.container_search::placeholder {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url("../img/lupa.svg") no-repeat;
    background-position: 3em;
}

.option {
    display: flex;
}

.option_item {
    margin-right: 50px;
}

.option_link {
    color: #f3f3f3;
    text-decoration: none;
}

.option_link:hover {
    color: #d3cfcf;
}

.banner_main {
    width: 100%;
    height: 80vh;
    background: linear-gradient(180deg, #051D3D 0%, #FFFFFF 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    position: absolute;
    background: linear-gradient(180deg, #55F3A7 0%, #12394C 100%);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.price {
    display: flex;
    flex-direction: column;
}

.price_text {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.price_span {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.price_main {
    font-size: 46px;
    font-weight: 500;
}

.text_banner {
    display: flex;
    align-items: center;
}

#text_decoration {
    margin-top: 32px;
}

.banner_span {
    padding-left: 1em;
}

.button_banner {
    margin-top: 60px;
    margin-bottom: 24px;
}

.button {
    border: none; 
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #120A0C;
    color: #f3f3f3;
}

.button:hover {
    background-color: #55F3A7;
    color: #120A0C;
}

.section_alert {
    width: 100%;
    height: 15vh;
    background: linear-gradient(180deg, #12394C 19.91%, rgba(5, 29, 61, 0.85) 67.82%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section_division {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_img {
    width: 32px;
    padding-bottom: 20px;
}

.section_text {
    color: #f3f3f3;
    font-size: 18px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #20B0D8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_politics {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
}

.politics_itens {
    margin: 0 12px;
    padding-bottom: 12px;
    list-style-type: circle;
}

.politics_links {
    color: #f3f3f3;
    text-decoration: none;
}

.politics_links:hover {
    color: #d3cfcf;
}

.rights {
    display: flex;
    align-items: center;
}

.rights span {
    color: #f3f3f3;
}